.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
}
.head-line svg {
    width: 430px;
}

.sidebat_top{
    display: flex;
}
.x-close{
    text-align: right;
    margin-right: 1em;
    font-size: 32px;
}
.menus{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 11px;
    border-top:1px solid #e2e2e2;
    border-bottom:4px double #000000;
    background-color: antiquewhite;
}
.btn-warning{
    height: 40px;
    margin-top: 1em;

}
.input_search{
    height: 40px;
    margin: 1em;

}
.menus button{
    margin: 5px;
    border: none;
    background: none;
}
.menus button:hover{
    background-color: beige;
    border-radius: 3px;
}
.menus button:hover{
    background-color: rgb(183, 101, 0);
}
.news{display: flex;
    padding: 1em;
 }
.news_size{
    max-width: 100%;
    min-width: 100px;
    max-height: 450px;
}
.news{
    border-bottom: 2px solid  black;
    margin: 2em,2em;
}
.keyword_box{
    margin: 1em;}
.search-input{
    border: 1px #000000 ;
}
.side_menus {
    display: none;
}

.side_menus {
    width: 50%;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 16px;
    border-top: 1px solid #e2e2e2;
    background-color: antiquewhite;
}
.topbar {
margin-top: 1em;
}
@media (min-width: 500px) {
    .topbar {
        display: block; /* Display the topbar on screens 500px and wider */
    }
    .body_search_box {
        display: none; /* Ensure body_search_box is visible on wider screens */
    }
.hamburger{ display: none;
}
    .side_menus{
        display: none; /* Initial width of the sidebar */
    }

}
@media (max-width: 500px) {
    .sidebar {
        background-color: antiquewhite;
        display: block;
        height: 50px;}
        

 .body_search_box{
        display:  none
    }

    .side_menus button{
        margin: 5px;
        border: none;
        background: none;
    }
    .side_menus {
        display: none;
    }

    .show {
        display: flex; /* Show the side menu */
    }

    .menus button:hover{
        background-color: beige;
        border-radius: 3px;
    }
    .menus button:hover{
        background-color: rgb(183, 101, 0);
    }
    .menus button {
        font-size: 16px;
    }

    .sidebar.opened {
        left: 0; /* Display the sidebar at 0px left position */
    }
    .hamburger {
            width: 30px; /* Adjust width as needed to ensure visibility */
            height: 30px; /* Set a height for the hamburger icon */
            background-color: transparent; /* Remove any background color */
            border: none; /* Remove border if unnecessary */
            display: inline-block; /* Ensure the hamburger icon is displayed inline */
            font-size: 24px; /* Set an appropriate font size for the icon */
            cursor: pointer; /* Add cursor pointer for better user interaction */
    }



    .head-line svg {
        width: 430px; /* Adjust SVG size for screens wider than 500px */
    }

    .topbar {
        display: none; /* Hide the topbar on screens below 500px */
    }

    .menus button {
        margin: 5px;
        border: none;
        background: none;
    }

    .menus button:hover {
        background-color: beige;
        border-radius: 3px;
    }
}